<a href="https://colab.research.google.com/github/Richaweb/DS/blob/main/Python_practice_Question_Oeson.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#operators

In [80]:
#Sum
a = 2
b = 3
c =(a+b)
print(c)

#difference
a = 2
b = 3
c =(a-b)
print(c)

#product
a = 2
b = 3
c =(a*b)
print(c)

#divide
a = 2
b = 3
c =(a/b)
print(c)

#remainder
a = 2
b = 3
c =(a%b)
print(c)

#greater than 100
num =[2,3,4,89,70]
print(all(x > 100 for x in num))

#Check if two variables hold the same value.
a = 2
b = 2
if a==b:
  print("they are equal")
else:
  print ("they are not equal")

#Take a number and check if itâ€™s divisible by 3 and 5.
def isdivisible_by_3_and_5(number):
    if number % 3 == 0 and number % 5 == 0:
        return True
    else:
        return False

#Check if a number is either even or divisible by 7.
def isdivisible_by_even_or_7(number):
    if number % 2 == 0 or number % 7 == 0:
        return True
    else:
        return False

#Use += and *= to modify a variable value
x = 5
x += 3  # Equivalent to x = x + 3
x *= 2  # Equivalent to x = x * 2
print(x)


#Compare two ages and print who is older
age1 =20
age2 =25

if age1 > age2:
  print("age1 is greater than age2")
else:
  print("age2 is greater than age1")

#Use not to reverse a condition result.
is_raining = False
is_cold = True

if is_raining and is_cold:
    print("Bring an umbrella and a jacket.")
elif is_raining:
    print("Bring an umbrella.")
elif is_cold:
    print("Bring a jacket.")

#Take three numbers and find the smallest using comparison operators
a =10
b = 12
c = 18

if a>b and a>c:
  print("a is greater")
elif b>a and b>c:
  print("b is greater")
else:
  print("c is greater")

#Swap two variables using assignment only.
r = 20
m = 30

r,m = m,r
print("after swapping")
print("r=",r)
print("m=",m)

5
-1
6
0.6666666666666666
2
False
they are equal
16
age2 is greater than age1
Bring a jacket.
c is greater
after swapping
r= 30
m= 20

#Lists

In [38]:
#Create a list of 5 items and print each one using a loop.

mylist = ["apple", "banana", "cherry","kiwi","orange"]
for x in mylist:
  print(x)

#Add an item to the end of a list.
mylist = ["apple", "banana", "cherry","kiwi","orange"]
mylist.append("mango")
print(mylist)

#Insert a number at the second position of a list.
mylist = ["apple", "banana", "cherry","kiwi","orange"]
mylist.insert(1, "mango")
print(mylist)

#Remove the last item from a list
mylist = ["apple", "banana", "cherry","kiwi","orange"]
mylist.pop()
print(mylist)

#Sort a list of numbers in ascending order
numbers = [5, 2, 8, 1, 9]
numbers.sort()
print(numbers)

#Reverse a list.
mylist = ["apple", "banana", "cherry","kiwi","orange"]
mylist.reverse()
print(mylist)

#Find the sum of all elements in a list
numbers = [5, 2, 8, 1, 9]
total = sum(numbers)
print(total)

#Find the maximum and minimum values in a list.
numbers = [5, 2, 8, 1, 9]
maximum = max(numbers)
minimum = min(numbers)
print(maximum)
print(minimum)

#Check if a user-entered item is in a list.
mylist = ["apple", "banana", "cherry","kiwi","orange"]
if "apple" in mylist:
  print("yes")
else:
  print("no")

#Count how many times a certain value appears in a list
mylist = ["apple", "banana", "cherry","kiwi","orange"]
x = mylist.count("apple")
print(x)

apple
banana
cherry
kiwi
orange
['apple', 'banana', 'cherry', 'kiwi', 'orange', 'mango']
['apple', 'mango', 'banana', 'cherry', 'kiwi', 'orange']
['apple', 'banana', 'cherry', 'kiwi']
[1, 2, 5, 8, 9]
['orange', 'kiwi', 'cherry', 'banana', 'apple']
25
9
1
yes
1

#Tuples

In [69]:
#Create a tuple of 4 colors and print the second one.
mytuple = ("red", "yellow", "green", "black")
print(mytuple[1])

#Try to change a value in a tuple (observe what happens).
mytuple = ("red", "yellow", "green", "black")
mytuple[1] = "pink"
print(mytuple)

yellow

TypeError: 'tuple' object does not support item assignment

In [68]:
#Convert a list to a tuple.
mylist = ["red", "yellow", "green", "black"]
mytuple = tuple(mylist)
print(mytuple)

#Check if a value exists in a tuple.
mytuple = ("red", "yellow", "green", "black")
if "red" in mytuple:
  print("yes")
else:
  print("no")

#Find the length of a tuple.
mytuple = ("red", "yellow", "green", "black")
print(len(mytuple))

#Slice a tuple to get the last two elements.
mytuple = ("red", "yellow", "green", "black")
print(mytuple[-2:])

#Concatenate two tuples
tuple1 = ("red", "yellow", "green", "black")
tuple2 = (1, 2, 3, 4)
tuple3 = tuple1 + tuple2
print(tuple3)

#Use a tuple to store coordinates (x, y)
coordinates = (1, 4)
print(coordinates)

#Create a tuple with numbers and find the max value.
mytuple = (1, 2, 3, 4)
print(max(mytuple))

#Convert a tuple to a list and back again.
mytuple = ("red", "yellow", "green", "black")
mylist = list(mytuple)
print(mylist)
mytuple = tuple(mylist)
print(mytuple)

('red', 'yellow', 'green', 'black')
yes
4
('green', 'black')
('red', 'yellow', 'green', 'black', 1, 2, 3, 4)
(1, 4)
4
['red', 'yellow', 'green', 'black']
('red', 'yellow', 'green', 'black')

#Dictionaries

In [67]:
#Create a dictionary of 3 students with their marks.
students = {"richa": 85,"rishi": 92,"mimi": 78}
print(students)

#Add a new key-value pair to a dictionary
students = {"richa": 85,"rishi": 92,"mimi": 78}
students["sonu"] = 95
print(students)

#Update the value of an existing key
students = {"richa": 85,"rishi": 92,"mimi": 78}
students["richa"] = 90
print(students)

#Delete a key from the dictionary.
students = {"richa": 85,"rishi": 92,"mimi": 78}
del students["richa"]
print(students)

#Print all keys of a dictionary
students = {"richa": 85,"rishi": 92,"mimi": 78}
print(students.keys())

#Print all values of a dictionary.
students = {"richa": 85,"rishi": 92,"mimi": 78}
print(students.values())

#Check if a specific key exists in the dictionary
students = {"richa": 85,"rishi": 92,"mimi": 78}
if "richa" in students:
  print("yes")
else:
  print("no")

#Get the value of a key using get()
person = {"name": "richa", "age": 25}
print(person.get("name"))

#Loop through the dictionary and print each key and value.
students = {"richa": 85,"rishi": 92,"mimi": 78}
for key, value in students.items():
  print(key, value)

#Create a dictionary where keys are numbers and values are their squares.
squares = {x: x**2 for x in range(1,4)}
print(squares)

{'richa': 85, 'rishi': 92, 'mimi': 78}
{'richa': 85, 'rishi': 92, 'mimi': 78, 'sonu': 95}
{'richa': 90, 'rishi': 92, 'mimi': 78}
{'rishi': 92, 'mimi': 78}
dict_keys(['richa', 'rishi', 'mimi'])
dict_values([85, 92, 78])
yes
richa
richa 85
rishi 92
mimi 78
{1: 1, 2: 4, 3: 9}